[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
convokit = "*"
nltk = "*"
ipdb = "*"
spacy = "*"
ipython = "*"
click = "*"
nose = "*"
elasticsearch = ">=7.0.0,<8.0.0"
flask = "*"
elasticsearch-dsl = "*"

[dev-packages]

[requires]
python_version = "3.9"
